# Aggregations, Window Functions, and UDFs

## Simple aggregations

### How to do it...

In [1]:
import polars as pl

In [56]:
df = pl.read_csv('../data/constoso_sales.csv', try_parse_dates=True)

In [57]:
df.head()

shape: (5, 20)
┌────────┬────────┬─────────────┬─────────────┬───┬─────────────┬───────┬─────────────┬────────────┐
│ Order  ┆ Line   ┆ Order Date  ┆ Delivery    ┆ … ┆ Net Price   ┆ Unit  ┆ Currency    ┆ Exchange   │
│ Number ┆ Number ┆ ---         ┆ Date        ┆   ┆ ---         ┆ Cost  ┆ Code        ┆ Rate       │
│ ---    ┆ ---    ┆ date        ┆ ---         ┆   ┆ f64         ┆ ---   ┆ ---         ┆ ---        │
│ i64    ┆ i64    ┆             ┆ date        ┆   ┆             ┆ f64   ┆ str         ┆ f64        │
╞════════╪════════╪═════════════╪═════════════╪═══╪═════════════╪═══════╪═════════════╪════════════╡
│ 284806 ┆ 1      ┆ 2017-10-18  ┆ 2017-10-20  ┆ … ┆ 10.288      ┆ 5.958 ┆ USD         ┆ 1.0        │
│ 285506 ┆ 1      ┆ 2017-10-25  ┆ 2017-10-26  ┆ … ┆ 11.691      ┆ 5.958 ┆ AUD         ┆ 1.2967     │
│ 311002 ┆ 2      ┆ 2018-07-07  ┆ 2018-07-12  ┆ … ┆ 12.99       ┆ 6.62  ┆ AUD         ┆ 1.3484     │
│ 366307 ┆ 2      ┆ 2020-01-11  ┆ 2020-01-11  ┆ … ┆ 12.99       ┆ 6.62  ┆ AUD         ┆ 1.4545     │
│ 325708 ┆ 3      ┆ 2018-12-01  ┆ 2018-12-02  ┆ … ┆ 11.5611     ┆ 6.62  ┆ USD         ┆ 1.0        │
└────────┴────────┴─────────────┴─────────────┴───┴─────────────┴───────┴─────────────┴────────────┘

In [58]:
from polars import selectors as cs
(
    df
    .select(cs.numeric())
    .sum()
)

shape: (1, 8)
┌─────────────┬────────┬─────────────┬──────────┬─────────────┬───────────┬───────────┬────────────┐
│ Order       ┆ Line   ┆ Customer    ┆ Quantity ┆ Unit Price  ┆ Net Price ┆ Unit Cost ┆ Exchange   │
│ Number      ┆ Number ┆ Age         ┆ ---      ┆ ---         ┆ ---       ┆ ---       ┆ Rate       │
│ ---         ┆ ---    ┆ ---         ┆ i64      ┆ f64         ┆ f64       ┆ f64       ┆ ---        │
│ i64         ┆ i64    ┆ i64         ┆          ┆             ┆           ┆           ┆ f64        │
╞═════════════╪════════╪═════════════╪══════════╪═════════════╪═══════════╪═══════════╪════════════╡
│ 4466019052  ┆ 16195  ┆ 725757      ┆ 43517    ┆ 4.1785e6    ┆ 3.9286e6  ┆ 1.7356e6  ┆ 14124.4597 │
└─────────────┴────────┴─────────────┴──────────┴─────────────┴───────────┴───────────┴────────────┘

In [59]:
s = df.select('Quantity').to_series()
s.sum()

43517

In [60]:
df.select(pl.col('Quantity').sum())

shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ i64      │
╞══════════╡
│ 43517    │
└──────────┘

In [64]:
df.select(
    pl.col('Customer Name').first().alias('Cust Name First'),
    pl.col('Customer Name').last().alias('Cust Name Last')
)

shape: (1, 2)
┌─────────────────┬────────────────┐
│ Cust Name First ┆ Cust Name Last │
│ ---             ┆ ---            │
│ str             ┆ str            │
╞═════════════════╪════════════════╡
│ Eric Kennedy    ┆ Billy Ratliff  │
└─────────────────┴────────────────┘

In [61]:
df.select(cs.numeric()).describe()

shape: (9, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ Order     ┆ Line      ┆ Customer  ┆ … ┆ Unit      ┆ Net Price ┆ Unit Cost ┆ Exchange │
│ ---       ┆ Number    ┆ Number    ┆ Age       ┆   ┆ Price     ┆ ---       ┆ ---       ┆ Rate     │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│           ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 13915.0   ┆ 13915.0   ┆ 13915.0   ┆ … ┆ 13915.0   ┆ 13915.0   ┆ 13915.0   ┆ 13915.0  │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 320949.98 ┆ 1.163852  ┆ 52.15645  ┆ … ┆ 300.28425 ┆ 282.32739 ┆ 124.73136 ┆ 1.015053 │
│           ┆ 5771      ┆           ┆           ┆   ┆           ┆           ┆ 4         ┆          │
│ std       ┆ 28431.791 ┆ 1.361349  ┆ 19.133881 ┆ … ┆ 405.53897 ┆ 381.73884 ┆ 147.94409 ┆ 0.171927 │
│           ┆ 36        ┆           ┆           ┆   ┆ 5         ┆ 7         ┆ 4         ┆          │
│ min       ┆ 269500.0  ┆ 0.0       ┆ 19.0      ┆ … ┆ 0.95      ┆ 0.8265    ┆ 0.48      ┆ 0.7015   │
│ 25%       ┆ 295901.0  ┆ 0.0       ┆ 36.0      ┆ … ┆ 46.99     ┆ 43.4      ┆ 21.92     ┆ 0.8965   │
│ 50%       ┆ 319806.0  ┆ 1.0       ┆ 52.0      ┆ … ┆ 207.987   ┆ 194.91    ┆ 86.68     ┆ 1.0      │
│ 75%       ┆ 345106.0  ┆ 2.0       ┆ 68.0      ┆ … ┆ 361.2     ┆ 336.0     ┆ 160.93    ┆ 1.0      │
│ max       ┆ 371503.0  ┆ 6.0       ┆ 85.0      ┆ … ┆ 3748.5    ┆ 3748.5    ┆ 1241.955  ┆ 1.5373   │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### There is more...

In [49]:
df.select(
    (pl.col('Quantity') >= 4).sum()
)

shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ u32      │
╞══════════╡
│ 4423     │
└──────────┘

In [47]:
df.select(
    pl.col('Quantity').filter(pl.col('Store Name')=='Online store').sum()
)

shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ i64      │
╞══════════╡
│ 25017    │
└──────────┘

## Group by aggregations

### How to do it...

In [2]:
import polars as pl

In [3]:
df = pl.read_csv('../data/constoso_sales.csv', try_parse_dates=True)
df.head()

shape: (5, 20)
┌────────┬────────┬─────────────┬─────────────┬───┬─────────────┬───────┬─────────────┬────────────┐
│ Order  ┆ Line   ┆ Order Date  ┆ Delivery    ┆ … ┆ Net Price   ┆ Unit  ┆ Currency    ┆ Exchange   │
│ Number ┆ Number ┆ ---         ┆ Date        ┆   ┆ ---         ┆ Cost  ┆ Code        ┆ Rate       │
│ ---    ┆ ---    ┆ date        ┆ ---         ┆   ┆ f64         ┆ ---   ┆ ---         ┆ ---        │
│ i64    ┆ i64    ┆             ┆ date        ┆   ┆             ┆ f64   ┆ str         ┆ f64        │
╞════════╪════════╪═════════════╪═════════════╪═══╪═════════════╪═══════╪═════════════╪════════════╡
│ 284806 ┆ 1      ┆ 2017-10-18  ┆ 2017-10-20  ┆ … ┆ 10.288      ┆ 5.958 ┆ USD         ┆ 1.0        │
│ 285506 ┆ 1      ┆ 2017-10-25  ┆ 2017-10-26  ┆ … ┆ 11.691      ┆ 5.958 ┆ AUD         ┆ 1.2967     │
│ 311002 ┆ 2      ┆ 2018-07-07  ┆ 2018-07-12  ┆ … ┆ 12.99       ┆ 6.62  ┆ AUD         ┆ 1.3484     │
│ 366307 ┆ 2      ┆ 2020-01-11  ┆ 2020-01-11  ┆ … ┆ 12.99       ┆ 6.62  ┆ AUD         ┆ 1.4545     │
│ 325708 ┆ 3      ┆ 2018-12-01  ┆ 2018-12-02  ┆ … ┆ 11.5611     ┆ 6.62  ┆ USD         ┆ 1.0        │
└────────┴────────┴─────────────┴─────────────┴───┴─────────────┴───────┴─────────────┴────────────┘

In [16]:
df.group_by('Brand')

In [17]:
(
    df
    .group_by('Brand')
    .agg(pl.col('Quantity').sum().alias('Sum of Quantity'))
    .head()
)

shape: (5, 2)
┌───────────────────┬─────────────────┐
│ Brand             ┆ Sum of Quantity │
│ ---               ┆ ---             │
│ str               ┆ i64             │
╞═══════════════════╪═════════════════╡
│ Fabrikam          ┆ 1516            │
│ Adventure Works   ┆ 4616            │
│ Litware           ┆ 875             │
│ Northwind Traders ┆ 638             │
│ Litware           ┆ 161             │
└───────────────────┴─────────────────┘

In [18]:
(
    df
    .group_by('Brand')
    .agg(
        pl.col('Unit Price').sum().alias('Sum of Quantity'),
        pl.col('Unit Price').mean().alias('Average Unit Price'),
    )
    .sort('Average Unit Price', descending=True)
    .head()
)

shape: (5, 3)
┌─────────────────┬─────────────────┬────────────────────┐
│ Brand           ┆ Sum of Quantity ┆ Average Unit Price │
│ ---             ┆ ---             ┆ ---                │
│ str             ┆ f64             ┆ f64                │
╞═════════════════╪═════════════════╪════════════════════╡
│ Fabrikam        ┆ 82765.3         ┆ 795.820192         │
│ Contoso         ┆ 232497.937      ┆ 715.378268         │
│ Adventure Works ┆ 908783.8045     ┆ 620.330242         │
│ Litware         ┆ 33194.085       ┆ 603.528818         │
│ Fabrikam        ┆ 262239.375      ┆ 557.956117         │
└─────────────────┴─────────────────┴────────────────────┘

In [19]:
(
    df
    .group_by('Brand')
    .agg(
        pl.col('Unit Price').mean().round(2).alias('Average Unit Price'),
        (pl.col('Unit Price').sum() / pl.count()).round(2).alias('Average Unit Price 2'),
        pl.col('Customer Name').first(),
        pl.col('Category').last()
    )
    .sort('Average Unit Price', descending=True)
    .sort('Brand')
    .head()
)

shape: (5, 5)
┌──────────────────┬──────────────┬──────────────────────┬──────────────────┬─────────────────┐
│ Brand            ┆ Average Unit ┆ Average Unit Price 2 ┆ Customer Name    ┆ Category        │
│ ---              ┆ Price        ┆ ---                  ┆ ---              ┆ ---             │
│ str              ┆ ---          ┆ f64                  ┆ str              ┆ str             │
│                  ┆ f64          ┆                      ┆                  ┆                 │
╞══════════════════╪══════════════╪══════════════════════╪══════════════════╪═════════════════╡
│ A. Datum         ┆ 280.1        ┆ 280.1                ┆ Blažena Salabová ┆ Cameras and     │
│                  ┆              ┆                      ┆                  ┆ camcorders      │
│ Adventure Works  ┆ 620.33       ┆ 620.33               ┆ Molly Walters    ┆ Home Appliances │
│ Adventure Works  ┆ 166.9        ┆ 166.9                ┆ James Steinfeld  ┆ TV and Video    │
│ Contoso          ┆ 150.86       ┆ 150.86               ┆ Eric Kennedy     ┆ Cell phones     │
│ Contoso          ┆ 715.38       ┆ 715.38               ┆ Chiquita Boyd    ┆ Home Appliances │
└──────────────────┴──────────────┴──────────────────────┴──────────────────┴─────────────────┘

In [26]:
(
    pl.scan_csv('../data/constoso_sales.csv', try_parse_dates=True)
    .group_by('Brand')
    .agg(
        pl.col('Unit Price').mean().round(2).alias('Average Unit Price'),
        (pl.col('Unit Price').sum() / pl.count()).round(2).alias('Average Unit Price 2'),
        pl.col('Customer Name').first(),
        pl.col('Category').last()
    )
    .sort('Average Unit Price', descending=True)
    .sort('Brand')
    .collect()
    .head()
)

shape: (5, 5)
┌──────────────────┬──────────────┬──────────────────────┬──────────────────┬─────────────────┐
│ Brand            ┆ Average Unit ┆ Average Unit Price 2 ┆ Customer Name    ┆ Category        │
│ ---              ┆ Price        ┆ ---                  ┆ ---              ┆ ---             │
│ str              ┆ ---          ┆ f64                  ┆ str              ┆ str             │
│                  ┆ f64          ┆                      ┆                  ┆                 │
╞══════════════════╪══════════════╪══════════════════════╪══════════════════╪═════════════════╡
│ A. Datum         ┆ 280.1        ┆ 280.1                ┆ Blažena Salabová ┆ Cameras and     │
│                  ┆              ┆                      ┆                  ┆ camcorders      │
│ Adventure Works  ┆ 620.33       ┆ 620.33               ┆ Molly Walters    ┆ Home Appliances │
│ Adventure Works  ┆ 166.9        ┆ 166.9                ┆ James Steinfeld  ┆ TV and Video    │
│ Contoso          ┆ 150.86       ┆ 150.86               ┆ Eric Kennedy     ┆ Cell phones     │
│ Contoso          ┆ 715.38       ┆ 715.38               ┆ Chiquita Boyd    ┆ Home Appliances │
└──────────────────┴──────────────┴──────────────────────┴──────────────────┴─────────────────┘

In [4]:
pl.Config.set_fmt_str_lengths = 50
print(df.select('Brand').unique().head(10))

shape: (10, 1)
┌───────────────────┐
│ Brand             │
│ ---               │
│ str               │
╞═══════════════════╡
│ Litware           │
│ Fabrikam          │
│ Contoso           │
│ Fabrikam          │
│ …                 │
│ The Phone Company │
│ Proseware         │
│ Adventure Works   │
│ Adventure Works   │
└───────────────────┘

In [5]:
df.select('Brand').unique().head(10)

shape: (10, 1)
┌───────────────────┐
│ Brand             │
│ ---               │
│ str               │
╞═══════════════════╡
│ Fabrikam          │
│ Proseware         │
│ The Phone Company │
│ A. Datum          │
│ …                 │
│ Adventure Works   │
│ Southridge Video  │
│ Adventure Works   │
│ Tailspin Toys     │
└───────────────────┘

In [6]:
import os
os.environ['POLARS_FMT_STR_LEN'] = str(50)

df.select('Brand').unique().head(10)

shape: (10, 1)
┌───────────────────┐
│ Brand             │
│ ---               │
│ str               │
╞═══════════════════╡
│ Contoso           │
│ Adventure Works   │
│ Tailspin Toys     │
│ Contoso           │
│ …                 │
│ A. Datum          │
│ Northwind Traders │
│ Adventure Works   │
│ Litware           │
└───────────────────┘

### There is more...

In [22]:
for name, data in df.group_by('Brand'):
    print(name, type(data))

Proseware <class 'polars.dataframe.frame.DataFrame'>
Litware  <class 'polars.dataframe.frame.DataFrame'>
A. Datum <class 'polars.dataframe.frame.DataFrame'>
Tailspin Toys <class 'polars.dataframe.frame.DataFrame'>
Contoso  <class 'polars.dataframe.frame.DataFrame'>
Fabrikam <class 'polars.dataframe.frame.DataFrame'>
Contoso <class 'polars.dataframe.frame.DataFrame'>
Adventure Works  <class 'polars.dataframe.frame.DataFrame'>
Adventure Works <class 'polars.dataframe.frame.DataFrame'>
The Phone Company <class 'polars.dataframe.frame.DataFrame'>
Northwind Traders <class 'polars.dataframe.frame.DataFrame'>
Wide World Importers <class 'polars.dataframe.frame.DataFrame'>
Litware <class 'polars.dataframe.frame.DataFrame'>
Fabrikam   <class 'polars.dataframe.frame.DataFrame'>
Southridge Video <class 'polars.dataframe.frame.DataFrame'>

In [24]:
(
    df
    .group_by('Brand')
    .agg(pl.col('Quantity'))
    .head()
)

shape: (5, 2)
┌──────────────────┬─────────────┐
│ Brand            ┆ Quantity    │
│ ---              ┆ ---         │
│ str              ┆ list[i64]   │
╞══════════════════╪═════════════╡
│ Litware          ┆ [2, 1, … 3] │
│ Adventure Works  ┆ [5, 7, … 2] │
│ Contoso          ┆ [7, 1, … 3] │
│ Fabrikam         ┆ [2, 1, … 2] │
│ Adventure Works  ┆ [2, 3, … 6] │
└──────────────────┴─────────────┘

In [27]:
(
    df
    .group_by('Brand', maintain_order=True)
    .agg(pl.col('Quantity'))
    .head()
)

shape: (5, 2)
┌──────────────────────┬─────────────┐
│ Brand                ┆ Quantity    │
│ ---                  ┆ ---         │
│ str                  ┆ list[i64]   │
╞══════════════════════╪═════════════╡
│ Contoso              ┆ [7, 1, … 3] │
│ Wide World Importers ┆ [2, 8, … 2] │
│ Northwind Traders    ┆ [2, 3, … 2] │
│ Adventure Works      ┆ [2, 3, … 6] │
│ Adventure Works      ┆ [5, 7, … 2] │
└──────────────────────┴─────────────┘

In [33]:
(
    df
    .group_by(
        pl.col('Brand'), 
        'Customer Country',
        pl.col('Order Date').dt.year().alias('Order Year')
        )
    .agg(pl.col('Unit Price').mean())
    .head()
)

shape: (5, 4)
┌──────────────────────┬──────────────────┬────────────┬────────────┐
│ Brand                ┆ Customer Country ┆ Order Year ┆ Unit Price │
│ ---                  ┆ ---              ┆ ---        ┆ ---        │
│ str                  ┆ str              ┆ i32        ┆ f64        │
╞══════════════════════╪══════════════════╪════════════╪════════════╡
│ Contoso              ┆ United Kingdom   ┆ 2018       ┆ 149.204372 │
│ Contoso              ┆ Germany          ┆ 2018       ┆ 156.208612 │
│ Contoso              ┆ Italy            ┆ 2017       ┆ 217.8535   │
│ Wide World Importers ┆ Netherlands      ┆ 2018       ┆ 631.144348 │
│ Wide World Importers ┆ United States    ┆ 2018       ┆ 513.037234 │
└──────────────────────┴──────────────────┴────────────┴────────────┘

## Aggregating values across multiple columns

### How to do it...

In [95]:
import polars as pl

In [96]:
df = pl.read_csv('../data/pokemon.csv')
df.head()

shape: (5, 13)
┌─────┬───────────────────────┬────────┬────────┬───┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name                  ┆ Type 1 ┆ Type 2 ┆ … ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---                   ┆ ---    ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str                   ┆ str    ┆ str    ┆   ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪═══════════════════════╪════════╪════════╪═══╪═════════╪═══════╪════════════╪═══════════╡
│ 1   ┆ Bulbasaur             ┆ Grass  ┆ Poison ┆ … ┆ 65      ┆ 45    ┆ 1          ┆ false     │
│ 2   ┆ Ivysaur               ┆ Grass  ┆ Poison ┆ … ┆ 80      ┆ 60    ┆ 1          ┆ false     │
│ 3   ┆ Venusaur              ┆ Grass  ┆ Poison ┆ … ┆ 100     ┆ 80    ┆ 1          ┆ false     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ … ┆ 120     ┆ 80    ┆ 1          ┆ false     │
│ 4   ┆ Charmander            ┆ Fire   ┆ null   ┆ … ┆ 50      ┆ 65    ┆ 1          ┆ false     │
└─────┴───────────────────────┴────────┴────────┴───┴─────────┴───────┴────────────┴───────────┘

In [97]:
(
    df
    .select('HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed')
    .sum(axis=1).alias('Total 2')
    .head(5)
)

shape: (5,)
Series: 'Total 2' [i64]
[
	318
	405
	525
	625
	309
]

In [98]:
(
    df
    .with_columns(
        pl.sum_horizontal('HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed').alias('Total 2')
    )
    .head(5)
)

shape: (5, 14)
┌─────┬───────────────────────┬────────┬────────┬───┬───────┬────────────┬───────────┬─────────┐
│ #   ┆ Name                  ┆ Type 1 ┆ Type 2 ┆ … ┆ Speed ┆ Generation ┆ Legendary ┆ Total 2 │
│ --- ┆ ---                   ┆ ---    ┆ ---    ┆   ┆ ---   ┆ ---        ┆ ---       ┆ ---     │
│ i64 ┆ str                   ┆ str    ┆ str    ┆   ┆ i64   ┆ i64        ┆ bool      ┆ i64     │
╞═════╪═══════════════════════╪════════╪════════╪═══╪═══════╪════════════╪═══════════╪═════════╡
│ 1   ┆ Bulbasaur             ┆ Grass  ┆ Poison ┆ … ┆ 45    ┆ 1          ┆ false     ┆ 318     │
│ 2   ┆ Ivysaur               ┆ Grass  ┆ Poison ┆ … ┆ 60    ┆ 1          ┆ false     ┆ 405     │
│ 3   ┆ Venusaur              ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 525     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 625     │
│ 4   ┆ Charmander            ┆ Fire   ┆ null   ┆ … ┆ 65    ┆ 1          ┆ false     ┆ 309     │
└─────┴───────────────────────┴────────┴────────┴───┴───────┴────────────┴───────────┴─────────┘

In [99]:
cols = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
(
    df
    .with_columns(
        pl.reduce(
            function=lambda acc, col: acc + col, 
            exprs=pl.col(cols)
        )
        .alias('Total 2')
    )
    .head()
)

shape: (5, 14)
┌─────┬───────────────────────┬────────┬────────┬───┬───────┬────────────┬───────────┬─────────┐
│ #   ┆ Name                  ┆ Type 1 ┆ Type 2 ┆ … ┆ Speed ┆ Generation ┆ Legendary ┆ Total 2 │
│ --- ┆ ---                   ┆ ---    ┆ ---    ┆   ┆ ---   ┆ ---        ┆ ---       ┆ ---     │
│ i64 ┆ str                   ┆ str    ┆ str    ┆   ┆ i64   ┆ i64        ┆ bool      ┆ i64     │
╞═════╪═══════════════════════╪════════╪════════╪═══╪═══════╪════════════╪═══════════╪═════════╡
│ 1   ┆ Bulbasaur             ┆ Grass  ┆ Poison ┆ … ┆ 45    ┆ 1          ┆ false     ┆ 318     │
│ 2   ┆ Ivysaur               ┆ Grass  ┆ Poison ┆ … ┆ 60    ┆ 1          ┆ false     ┆ 405     │
│ 3   ┆ Venusaur              ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 525     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 625     │
│ 4   ┆ Charmander            ┆ Fire   ┆ null   ┆ … ┆ 65    ┆ 1          ┆ false     ┆ 309     │
└─────┴───────────────────────┴────────┴────────┴───┴───────┴────────────┴───────────┴─────────┘

In [100]:
(
    df
    .with_columns(
        pl.fold(
            acc=pl.lit(100), 
            function=lambda acc, col: acc + col, 
            exprs=pl.col(cols)
        )
        .alias('Total 2')
    )
    .head()
)

shape: (5, 14)
┌─────┬───────────────────────┬────────┬────────┬───┬───────┬────────────┬───────────┬─────────┐
│ #   ┆ Name                  ┆ Type 1 ┆ Type 2 ┆ … ┆ Speed ┆ Generation ┆ Legendary ┆ Total 2 │
│ --- ┆ ---                   ┆ ---    ┆ ---    ┆   ┆ ---   ┆ ---        ┆ ---       ┆ ---     │
│ i64 ┆ str                   ┆ str    ┆ str    ┆   ┆ i64   ┆ i64        ┆ bool      ┆ i64     │
╞═════╪═══════════════════════╪════════╪════════╪═══╪═══════╪════════════╪═══════════╪═════════╡
│ 1   ┆ Bulbasaur             ┆ Grass  ┆ Poison ┆ … ┆ 45    ┆ 1          ┆ false     ┆ 418     │
│ 2   ┆ Ivysaur               ┆ Grass  ┆ Poison ┆ … ┆ 60    ┆ 1          ┆ false     ┆ 505     │
│ 3   ┆ Venusaur              ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 625     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ … ┆ 80    ┆ 1          ┆ false     ┆ 725     │
│ 4   ┆ Charmander            ┆ Fire   ┆ null   ┆ … ┆ 65    ┆ 1          ┆ false     ┆ 409     │
└─────┴───────────────────────┴────────┴────────┴───┴───────┴────────────┴───────────┴─────────┘

### There is more...

In [107]:
(
    df
    .filter(
        pl.fold(
            acc=pl.lit(True), 
            function=lambda acc, col: acc & col, 
            exprs=pl.col(cols) > 80
        )
    )
    .head()
)

shape: (4, 13)
┌─────┬──────────┬──────────┬────────┬───┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name     ┆ Type 1   ┆ Type 2 ┆ … ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---      ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str      ┆ str      ┆ str    ┆   ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪══════════╪══════════╪════════╪═══╪═════════╪═══════╪════════════╪═══════════╡
│ 144 ┆ Articuno ┆ Ice      ┆ Flying ┆ … ┆ 125     ┆ 85    ┆ 1          ┆ true      │
│ 145 ┆ Zapdos   ┆ Electric ┆ Flying ┆ … ┆ 90      ┆ 100   ┆ 1          ┆ true      │
│ 146 ┆ Moltres  ┆ Fire     ┆ Flying ┆ … ┆ 85      ┆ 90    ┆ 1          ┆ true      │
│ 150 ┆ Mewtwo   ┆ Psychic  ┆ null   ┆ … ┆ 90      ┆ 130   ┆ 1          ┆ true      │
└─────┴──────────┴──────────┴────────┴───┴─────────┴───────┴────────────┴───────────┘

In [119]:
(
    df
    .filter(
        pl.all_horizontal(pl.col(cols) > 80)
    )
    .head()
)

shape: (4, 13)
┌─────┬──────────┬──────────┬────────┬───┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name     ┆ Type 1   ┆ Type 2 ┆ … ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---      ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str      ┆ str      ┆ str    ┆   ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪══════════╪══════════╪════════╪═══╪═════════╪═══════╪════════════╪═══════════╡
│ 144 ┆ Articuno ┆ Ice      ┆ Flying ┆ … ┆ 125     ┆ 85    ┆ 1          ┆ true      │
│ 145 ┆ Zapdos   ┆ Electric ┆ Flying ┆ … ┆ 90      ┆ 100   ┆ 1          ┆ true      │
│ 146 ┆ Moltres  ┆ Fire     ┆ Flying ┆ … ┆ 85      ┆ 90    ┆ 1          ┆ true      │
│ 150 ┆ Mewtwo   ┆ Psychic  ┆ null   ┆ … ┆ 90      ┆ 130   ┆ 1          ┆ true      │
└─────┴──────────┴──────────┴────────┴───┴─────────┴───────┴────────────┴───────────┘

In [141]:
str_cols = ['Name', 'Type 1', 'Type 2']
str_combined = pl.fold(acc=pl.lit(''), function=lambda acc, col: acc + col, exprs=str_cols).alias('Str Combined')
str_cols.append(str_combined)
df.select(str_cols).head()

shape: (5, 4)
┌───────────────────────┬────────┬────────┬──────────────────────────────────┐
│ Name                  ┆ Type 1 ┆ Type 2 ┆ Str Combined                     │
│ ---                   ┆ ---    ┆ ---    ┆ ---                              │
│ str                   ┆ str    ┆ str    ┆ str                              │
╞═══════════════════════╪════════╪════════╪══════════════════════════════════╡
│ Bulbasaur             ┆ Grass  ┆ Poison ┆ BulbasaurGrassPoison             │
│ Ivysaur               ┆ Grass  ┆ Poison ┆ IvysaurGrassPoison               │
│ Venusaur              ┆ Grass  ┆ Poison ┆ VenusaurGrassPoison              │
│ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ VenusaurMega VenusaurGrassPoison │
│ Charmander            ┆ Fire   ┆ null   ┆ null                             │
└───────────────────────┴────────┴────────┴──────────────────────────────────┘

In [142]:
str_cols = ['Name', 'Type 1', 'Type 2']
df.select(pl.concat_str(str_cols)).head()

shape: (5, 1)
┌──────────────────────────────────┐
│ Name                             │
│ ---                              │
│ str                              │
╞══════════════════════════════════╡
│ BulbasaurGrassPoison             │
│ IvysaurGrassPoison               │
│ VenusaurGrassPoison              │
│ VenusaurMega VenusaurGrassPoison │
│ null                             │
└──────────────────────────────────┘