# Chapter 1: Getting Started with Python Polars

### Importing the Polars library

In [2]:
import polars as pl

### The Polars DataFrame

In [3]:
df = pl.DataFrame({
    'nums': [1,2,3,4,5],
    'letters': ['a','b','c','d','e']
})
df.head()

shape: (5, 2)
┌──────┬─────────┐
│ nums ┆ letters │
│ ---  ┆ ---     │
│ i64  ┆ str     │
╞══════╪═════════╡
│ 1    ┆ a       │
│ 2    ┆ b       │
│ 3    ┆ c       │
│ 4    ┆ d       │
│ 5    ┆ e       │
└──────┴─────────┘

In [48]:
df = pl.read_csv('../data/titanic_dataset.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [14]:
df.schema

{'PassengerId': Int64,
 'Survived': Int64,
 'Pclass': Int64,
 'Name': Utf8,
 'Sex': Utf8,
 'Age': Float64,
 'SibSp': Int64,
 'Parch': Int64,
 'Ticket': Utf8,
 'Fare': Float64,
 'Cabin': Utf8,
 'Embarked': Utf8}

In [15]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [8]:
df.dtypes

[Int64,
 Int64,
 Int64,
 Utf8,
 Utf8,
 Float64,
 Int64,
 Int64,
 Utf8,
 Float64,
 Utf8,
 Utf8]

In [11]:
df.shape

(891, 12)

In [16]:
df.height

891

In [17]:
df.width

12

In [12]:
df.flags

{'PassengerId': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Survived': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Pclass': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Name': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Sex': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Age': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'SibSp': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Parch': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Ticket': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Fare': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Cabin': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Embarked': {'SORTED_ASC': False, 'SORTED_DESC': False}}

In [49]:
df = df.sort(['PassengerId'], descending=True)
df['PassengerId']['SORTED_ASC']=True
df.flags

TypeError: cannot use "'SORTED_ASC'" for indexing

### Processing datasets larger than RAM

In [2]:
import polars as pl

In [10]:
taxi_trips = (
    pl.scan_csv('~/Downloads/Taxi_Trips.csv')
    .collect(streaming=True)
)
taxi_trips.head()

shape: (5, 23)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Trip ID   ┆ Taxi ID   ┆ Trip      ┆ Trip End  ┆ … ┆ Pickup    ┆ Dropoff   ┆ Dropoff   ┆ Dropoff  │
│ ---       ┆ ---       ┆ Start     ┆ Timestamp ┆   ┆ Centroid  ┆ Centroid  ┆ Centroid  ┆ Centroid │
│ str       ┆ str       ┆ Timestamp ┆ ---       ┆   ┆ Location  ┆ Latitude  ┆ Longitude ┆ Location │
│           ┆           ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆ str       ┆ f64       ┆ f64       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2c4c7c96c ┆ f68fe1183 ┆ 10/23/201 ┆ 10/23/201 ┆ … ┆ POINT (-8 ┆ 41.884987 ┆ -87.62099 ┆ POINT    │
│ 03236d94e ┆ e6d87a12b ┆ 6         ┆ 6         ┆   ┆ 7.6209929 ┆           ┆ 3         ┆ (-87.620 │
│ f20192a33 ┆ d7db1c367 ┆ 10:15:00  ┆ 10:15:00  ┆   ┆ 134 41.88 ┆           ┆           ┆ 9929134  │
│ cfe0d…    ┆ 3d616…    ┆ PM        ┆ PM        ┆   ┆ 49871…    ┆           ┆           ┆ 41.88498 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 71…      │
│ d3a30f861 ┆ 97ca0053c ┆ 10/23/201 ┆ 10/23/201 ┆ … ┆ POINT (-8 ┆ 41.892042 ┆ -87.63186 ┆ POINT    │
│ 2e040663e ┆ 7078857a1 ┆ 6         ┆ 6         ┆   ┆ 7.6209929 ┆           ┆ 4         ┆ (-87.631 │
│ 3908306f4 ┆ faa9bfa7b ┆ 07:45:00  ┆ 07:45:00  ┆   ┆ 134 41.88 ┆           ┆           ┆ 8639497  │
│ 70efd…    ┆ ae198…    ┆ AM        ┆ AM        ┆   ┆ 49871…    ┆           ┆           ┆ 41.89204 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 21…      │
│ 95178b9e5 ┆ f0b96329a ┆ 10/27/201 ┆ 10/27/201 ┆ … ┆ POINT (-8 ┆ 41.890922 ┆ -87.61886 ┆ POINT    │
│ 2c980cca9 ┆ 7e3906bb2 ┆ 6         ┆ 6         ┆   ┆ 7.6570050 ┆           ┆ 8         ┆ (-87.618 │
│ d837de35f ┆ e11b8af45 ┆ 08:45:00  ┆ 09:00:00  ┆   ┆ 27 41.879 ┆           ┆           ┆ 8683546  │
│ 2eeae…    ┆ 6f130…    ┆ PM        ┆ PM        ┆   ┆ 06699…    ┆           ┆           ┆ 41.89092 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 20…      │
│ b221f753f ┆ 11b7c42b4 ┆ 10/27/201 ┆ 10/27/201 ┆ … ┆ POINT (-8 ┆ 41.85935  ┆ -87.61735 ┆ POINT    │
│ 4fce49e4c ┆ edd22871e ┆ 6         ┆ 6         ┆   ┆ 7.6221729 ┆           ┆ 8         ┆ (-87.617 │
│ fccf07102 ┆ 20345b6d6 ┆ 08:30:00  ┆ 08:45:00  ┆   ┆ 369 41.87 ┆           ┆           ┆ 3580061  │
│ de429…    ┆ 60674…    ┆ AM        ┆ AM        ┆   ┆ 06073…    ┆           ┆           ┆ 41.85934 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 97…      │
│ d6d73a306 ┆ d49495206 ┆ 10/27/201 ┆ 10/27/201 ┆ … ┆ POINT (-8 ┆ 41.885281 ┆ -87.65723 ┆ POINT    │
│ f0e4607fe ┆ 048d4831e ┆ 6         ┆ 6         ┆   ┆ 7.6414915 ┆           ┆ 3         ┆ (-87.657 │
│ 3dc0f8767 ┆ 63e19601e ┆ 05:00:00  ┆ 05:15:00  ┆   ┆ 334 41.89 ┆           ┆           ┆ 2331997  │
│ 5fb85…    ┆ 8a6af…    ┆ PM        ┆ PM        ┆   ┆ 79838…    ┆           ┆           ┆ 41.88528 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 13…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [7]:
%%time
trip_total_by_pay_type = (
    pl.scan_csv('~/Downloads/Taxi_Trips.csv')
    .group_by('Payment Type')
    .agg(pl.col('Trip Total').sum())
    .collect()
)
trip_total_by_pay_type.head()

CPU times: user 57.7 s, sys: 1min 16s, total: 2min 13s
Wall time: 1min 23s

shape: (5, 2)
┌──────────────┬────────────┐
│ Payment Type ┆ Trip Total │
│ ---          ┆ ---        │
│ str          ┆ f64        │
╞══════════════╪════════════╡
│ Unknown      ┆ 2.5932e7   │
│ Dispute      ┆ 1.3884e6   │
│ Cash         ┆ 1.4606e9   │
│ No Charge    ┆ 1.3089e7   │
│ Split        ┆ 64668.43   │
└──────────────┴────────────┘